<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0axigarmvdxIAkwZJJ0bLU3qNe_CpiUs</string>
	<key>GCM_SENDER_ID</key>
	<string>976046585803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>My.Swift.UI.MySwiftUI</string>
	<key>PROJECT_ID</key>
	<string>sample-9b0fd</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-9b0fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:976046585803:ios:d7595a7864ddda004ee84e</string>
</dict>
</plist>
